[Unit]
Description=Shutdown Script for Network Tasks
DefaultDependencies=no
Before=poweroff.target shutdown.target reboot.target halt.target
Requires=network.target  # Ağ servislerinin hazır olmasını bekler
After=network.target  # Ağ servislerinin başlaması ve aktif olması beklenir
Conflicts=shutdown.target reboot.target halt.target  # Kapanış sırasında işlem yapılabilir

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/true  # Servis başlatıldığında bir şey yapma
ExecStop=/usr/bin/python3 /opt/logla.py bilgi "Tahta kapaniyor (/etc/systemd/system/tahta-kapanis-logla.service)"
TimeoutStopSec=10  # Betiğin tamamlanması için maks. süre (saniye)

[Install]
WantedBy=multi-user.target


