
#macModalDialog {
  max-width: 90vw;
  max-height: 90vh;
  width: 90vw;
  height: 90vh;
  margin: auto;
}
#macModal .modal-content {
  height: 100%;
}
#macModal iframe {
  height: calc(100% - 56px); /* Header yüksekliği kadar düş */
}
.modal-body {
    overflow: auto;
    max-height: 80vh; /* örnek */
}
#macModal .modal-dialog,
#macModal .modal-content,
#macModal .modal-body {
    overflow: visible !important;
}

