[Desktop Entry]
Name=Eta Password Changer
Comment=Eta Password Changer
Categories=System;X-Pardus-Apps;
Keywords=keyword;keyword;keyword;

Exec=eta-password-changer
Icon=tr.org.eta.password-changer
Terminal=false
Type=Application
StartupNotify=true
X-GNOME-UsesNotifications=true
